.error-message {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fee2e2; 
  border-left: 4px solid #ec371f;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 8px 0;
  font-size: 14px;
  color: var(--text)
}

.error-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.error-text {
  flex: 1;
}

